// $primary-bg-color: #000;
// $primary-text-color: #666;
// $secondary-text-color: #333;
// $primary-heading-color: rgb(100, 100, 100);
$checkmark-color: rgba(0, 170, 0, 0.5);
// $our-service-grid-item-color: rgb(240, 240, 240);
// $primary-blue-color: rgb(0, 48, 87);

$primary-font: 'Roboto-Regular', sans-serif;
$secondary-font: "Oswald-VariableFont_wght";
//$base-heading-font-size: 2rem;